.form-bg-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #98b7d9;
    border-radius: 15px;
}
.label{
    font-family: 'Roboto';
    font-size: 16px;
    color: #0b4078;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input{
    outline: none;
    border: 0px;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Roboto';
    font-size: 13px;
    margin-bottom: 10px;
    background-color: #d9e7fc;
}
.form-button{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    padding: 8px;
    background-color: #064e73;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;

}
.success-popup {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
.error-popup{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 600;
    color: red;
    margin-top: 15px;
}
.customer-address-form{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.customer-address-form-heading{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    color: #062636;
    text-align: center;
}
.addresses{
    font-family: 'Roboto';
    font-size: 13px;
    color: #0b4078;
    text-align: left;
}

@media screen and (min-width:576px){
    .form-bg-container{
        width: 40%;
    }
    .form-button{
        font-size: 15px;
    }
    .addresses{
        font-size: 15px;
    }
}